!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name:"viewport", content:"width=device-width",initial:"scale1"}
    %title BabyCook
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/notification'
    .header
      .header_title
        =link_to"ⒷⓐⓑⓨⒸⓞⓞⓚ","/",class:"header_title-title"
    -if user_signed_in? 
      .nav_bar
        .nav_bar-recipe
          = link_to"☆レシピを見る☆",recipes_path,class:"button"
        .nav_bar-post
          = link_to"☆レシピを投稿する☆",new_recipe_path,class:"button"
        .nav_bar-chef
          = link_to"☆ママ・パパシェフ一覧☆",chef_users_path,class:"button"
        .nav_bar-logout
          = link_to"☆ログアウト☆",destroy_user_session_path, method: :delete, class:"button"
    -else
      .nav_bar-else
        .nav_bar-recipe
          = link_to"☆レシピを見る☆",recipes_path,class:"button"
        .nav_bar-chef
          = link_to"☆ママ・パパシェフ一覧☆",chef_users_path,class:"button"
        .nav_bar-login
          =link_to"☆ログイン☆",user_session_path,class:"button"
        .nav_bar-registration
          = link_to"☆新規会員登録☆",new_user_registration_path,class:"button"
  = yield
